body {
    margin: 0;
    background-color: #f3f3f1;
}

.banner {
    background: #ffdd33;
    height: 60px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container {
    text-align: center;
}

.banner__title {
    font-weight: 600;
}


.banner__button {
    background: #1b1b1b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 152px;
    height: 32px;
}

.header {
    position: sticky;
    top: 25px;
    background: #ffffff;
    width: 1200px;
    height: 80px;
    border-radius: 12px;
    border: 1px solid rgb(212, 211, 211);;
    display: flex;
    margin: 20px auto;
}

.header__logo {
    padding: 16px;
    display: flex;
    align-items: center;
}

.header__nav-list {
    list-style: none;
    display: flex;    
    gap: 10px;
}

.header__nav-item {
    width: 100px;
    height: 40px;
    text-align: center;

}

.header__nav-item:hover {
    background-color: #f0eded;
    border-radius: 4px;
}

.header__nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.header__actions {
    display: flex;
    align-items: center;
}

.button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.button__connect {
    border-style: none;
    width: 240px;
    height: 40px;
}

.button__connect:hover {
    background-color: #f0eded;
}

.button__entry {
    background-color: #fffdfb;
    width: 63px;
    height: 40px;
    border: 1px solid rgb(212, 211, 211);
}

.button__entry:hover {
    background-color: #f0eded;
}

.button__registr {
    background-color: #425cf8;
    color: white;
    width: 127px;
    height: 40px;
    border: 1px solid rgb(212, 211, 211);
}

.button__registr:hover {
    background-color: #3a52db;
    color: white;
}

main {
}

.welcome__section {
}

.welcome__section-main {
    width: 790px;
    margin: auto;
    text-align: center;
}

.welcome__section-title {
    font-size: 56px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
}

.welcome__section-description {
    font-size: 22px;
}

.welcome__section-input {
    width: 430px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid rgb(212, 211, 211);
}

.welcome__section-form {
    width: 544px;
    margin: 0 auto;
}

.form__free-registr {
    background-color: #425cf8;
    margin-top: 15px;
    color: white;
    width: 430px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid rgb(212, 211, 211);
}

.form__free-registr:hover {
    background-color: #3a52db;
}

.section__preview-img {
    display: flex;
    justify-content: center;
    /* border: 1px solid rgb(212, 211, 211); */
}

.partners__section-description {
    font-size: 32px;
    text-align: center;
}

.partners__section-description > span {
    display: inline-block;
    width: 820px;
}

.partners__section-link {
    width: 1200px;
    margin: 0 auto;
}

.partners__section-link:hover {
    filter: blur(20px);
    transition: filter 0.5s;
}

.partners__section-link span {
    display: none;
    font-size: 28px;
    top: 50px;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.partners__section-link:hover span {
    display: block;
}



.advice__switch {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.advice__switch-item {
    display: inline-block;
    width: 400px;
    height: 300px;
    border-top: 2px solid rgb(231, 230, 230);
}

.advice__switch-item span {
    font-size: 32px;
}

.switch__item-child {
    padding: 10px;
    transition: opacity 0.5s, transform 0.4s;
}

.switch__item-child:hover {
    opacity: 0.3;
    transform: translateY(-10px);
}


.advice__switch-item:active {
    border-top: 1px solid red;
    transition: border-top 0.3s linear;
}